
.site-info {
    padding: .5rem 0 .5rem 0;
    background-color: $primart-color-light;
    color: $primart-color-dark;
}

.contact-heading { 
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: $primart-color-light;
    padding: 1rem 0 0 0;
}

.contact-hr {
    display: none;
}

.contact-text {
    text-align: center;
    margin: .5rem 0 1.5rem 0;
}

.menu-social-menu-footer-right-side-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin: 0 2.5rem;
    zoom: 1.5;
    padding: 0;
    text-align: center;
}

.footer-author {
    text-align: center;
    font-size: 1rem;
    margin: 0 0 4rem 0;
    padding: .5rem;
    background-color: $primart-color-dark;
    color: gray;
}

.menu-item-97 svg{
    &:hover {
		background-color: $primart-color-light;
	}
}

.github-icon {
    color: #CB9D81;
}


// -------------------------- 600px --------------------------
@media screen and (min-width: 37.5em) {
    
    .site-info {
        background-color: $primart-color-dark;
        color: $primart-color-light;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-heading { 
        color: $primart-color-light;
        background-color: $primart-color-dark;
        font-size: 1.8rem;
        text-shadow: none;
    }

    .contact-text {
        text-align: left;
        margin: 0;
        padding: 1rem 0 0 3rem;
        font-size: 1.4rem;
    }

    .menu-social-menu-footer-right-side-container ul {
        margin: 1rem 2rem 0 4rem;
    }

    .contact-hr {
        display: block;
        border: solid #CB9D81 .5px;
    }
    
}


// -------------------------- 800px --------------------------
@media screen and (min-width: 50em) {

    .contact-heading {
        text-shadow: #CB9D81 1px 0 10px;
        font-size: 2rem;
        text-align: left;
        padding: 1rem 0 0 3rem;
    }

    .menu-social-menu-footer-right-side-container ul {
        margin: 1rem 3rem 0 6rem;
    }

    .footer-author {
        margin: 0 0 2rem 0;
        padding: .5rem;
    }
    
}

// -------------------------- 1000px --------------------------
@media screen and (min-width: 62.5em) {



    .contact-heading {
        font-size: 2.5rem;
    }

    .menu-social-menu-footer-right-side-container ul {
        margin: 1rem 3rem 0 10rem;
    }

}
  