

.coverphoto {
    height: 100vh;
    width: 100%;
    background-image: url('image/coverphoto-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    zoom: 0.8;
    margin: 2rem 0 2rem 0;
    position: relative;
}

.home-firstname {
	font-size: 3.5rem;
	margin: 0;
    color: $primart-color-light;
    position: absolute;
    top: 12rem;
    left: 1rem;
    z-index: 99;
}

.home-lastname {
	font-size: 3.5rem;
	margin: 0;
    color: $primart-color-light;
    position: absolute;
    top: 15rem;
    left: 1rem;
    z-index: 99;
}

.home-title-1 {
    color: $primart-color-light;
    position: absolute;
    bottom: 10rem;
    right: 1rem;
}

.home-title-2 {
    color: $primart-color-light;
    position: absolute;
    bottom: 8rem;
    right: 1rem;
}

.home-title-3 {
    color: $primart-color-light;
    position: absolute;
    bottom: 6rem;
    right: 1rem;
}

.animation-background {
	// height: 100vh;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// flex-direction: column;
	
}


span.edit-link {
	display: none;
}


// .animation-background {
//     background: linear-gradient(135deg, #373F48, #373F48, #252525);
//     background-size: 400% 400%;
//     animation: background-gradient 5s ease infinite;
//     height: 100vh;
//     font-size: 1rem;
//     color: white;
// }

// 	@keyframes background-gradient {
// 		0% {
// 			background-position: 0% 50%;
// 		}

// 		50% {
// 			background-position: 100% 50%;
// 		}

// 		100% {
// 			background-position: 0% 50%;
// 		}
// 	}


    // heading
	.wp-block-heading.has-text-align-center { 
		margin: 0 0 2rem 0;
        color: $primart-color-light;
	}



@media screen and (min-width: 37.5em) {

    .coverphoto {
        zoom: 1;
        height: 100vh;
    }

	.home-firstname {
		font-size: 4rem;
        top: 12rem;
        left: 2rem;
	}

    .home-lastname {
        font-size: 4rem;
        top: 16rem;
        left: 2rem;
    }

    .home-title-1 {
        font-size: 2rem;
        bottom: 9.5rem;
        right: 2rem;
    }
    
    .home-title-2 {
        font-size: 2rem;
        bottom: 7rem;
        right: 2rem;
    }
    
    .home-title-3 {
        font-size: 2rem;
        bottom: 4.5rem;
        right: 2rem;
    }


    //about section styling
	div.wp-block-spacer.home-about-spacer {
		background: linear-gradient(to top, #CB9D81, #CB9D81 10%, #373F48 75%);
	}
}


@media screen and (min-width: 50em) {
    
    .coverphoto {
        background-image: url('image/coverphoto-desktop.png');
        zoom: 1;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

	.home-firstname {
		font-size: 7rem;
        top: 10rem;
        left: 12rem;
	}

    .home-lastname {
        font-size: 7rem;
        top: 18rem;
        left: 12rem;
    }

    .home-title-1 {
        font-size: 2rem;
        bottom: 12rem;
        right: 12rem;
    }
    
    .home-title-2 {
        font-size: 2rem;
        bottom: 9rem;
        right: 12rem;
    }
    
    .home-title-3 {
        font-size: 2rem;
        bottom: 6rem;
        right: 12rem;
    }
	
}

@media screen and (min-width: 70em) {
    
    .coverphoto {
        zoom: 1;
        height: 100vh;
        margin: 3rem 0 5rem 0;
    }

	.home-firstname {
		font-size: 8rem;
        text-shadow: $primart-color-light 1px 0 10px;
	}

    .home-lastname {
        font-size: 8rem;
        text-shadow: $primart-color-light 1px 0 10px;
    }

    .home-title-1 {
        font-size: 3rem;
    }
    
    .home-title-2 {
        font-size: 3rem;
    }
    
    .home-title-3 {
        font-size: 3rem;
    }
	
}

@media screen and (min-width: 120em) {
    
    .coverphoto {
        zoom: 1;
        height: 100vh;
    }
}