
.page-about-main {
    margin: 0 1rem;
}

.wpcp-carousel-wrapper .wpcp-carousel-content-wrapper {
    margin: 1rem;
}

.about-h1 {
    text-align: center;
}

.about-other-things {
    margin: 2rem 0 1rem 0;
    color: $primart-color-light;
}

// -------------------------- 800px --------------------------
@media screen and (min-width: 50em) {

    .page-about-main {
        margin: 0 1rem 0 8rem;
    }

}

// -------------------------- 1000px --------------------------
@media screen and (min-width: 62.5em) {

    .page-about-main {
        margin: 0 2rem 0 15rem;
    }

}
