
.wpcp-carousel-wrapper .wpcp-carousel-content-wrapper {
    margin: 1rem 0;
}

.about-h1 {
    text-align: center;
}

.about-other-things {
    margin: 2rem 0 1rem 0;
    color: $primart-color-light;
}