.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	// margin: 0 0 1.5em;
}

//post title/ heading
.entry-title {
	text-align: center;
	margin: 1rem 0 0 0;
}

//post margin
.post-13,
.post-17,
.post-19 {
	margin: 0 1rem;
}


//404
.error-404 {
	text-align: center;
	margin: 10rem 0;
}

.entry-title {
	display: none;
}

// -------------------------- 800px --------------------------
@media screen and (min-width: 50em) {
	.post-13,
	.post-17,
	.post-19 {
		margin: 0 1rem 0 8rem;
		text-align: center;
		p {
			text-align: left;
		}
		.project-tools-icons {
			text-align: center;
		}
		.work-single-author {
			text-align: center;
		}
	}
}

// -------------------------- 1000px --------------------------
@media screen and (min-width: 62.5em) {

	.post-13,
	.post-17,
	.post-19 {
		margin: 0 2rem 0 15rem;

	}
}