.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	// margin: 0 0 1.5em;
}

//post title/ heading
.entry-title {
	text-align: center;
	margin: 1rem 0 0 0;
}

//post margin
.post-13,
.post-17 {
	margin: 0 1rem;
}


//404
.error-404 {
	text-align: center;
	margin: 10rem 0;
}
