.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.post-7 .entry-header .entry-title {
    display: none;
}


div.wp-block-spacer.home-banner-spacer {
	background: linear-gradient(to top, #CB9D81, #373F48);
}


span.edit-link {
	display: none;
}

@media screen and (min-width: 37.5em) {

p.has-text-align-center.home-name.has-x-large-font-size {
	margin: 0 0 5rem 0;
}


}