
.project-tools-h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: .5rem;
    width: 100%;
    background-color: $primart-color-light;
}

.project-tools-icons {
    border: solid $primart-color-light 1px;
    padding: 1rem;
}

.yd-figma-embed {
    margin: 0;
}
