// cursor
html,
body {
    &,
    * {
        cursor: none;        
    }
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    $size: 8px;
    width: $size;
    height: $size;
    background-color: #CB9D81;
}

.cursor-dot-outline {
    $size: 40px;
    width: $size;
    height: $size;
    // background-color: rgba($primary-light, 0.5);
	background-color: rgba(#CB9D81, 0.5);
}
// cursor ends

// ------------------------------------------

// Header
.site-header {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	// top: 0;
	width: 100%
}

.site-branding {
	padding: 0;
}


.main-navigation {
	display: block;
	// width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}


@media screen and (min-width: 50em) {

	.site-header {
		position: fixed;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		margin: 1rem 3rem 0 0;
	}

	.main-navigation li  {
		padding: .5rem 2.5rem;
	}

	.main-navigation a {
		font-size: 1.5rem;

	}


}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
