button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}


.wp-block-buttons>.wp-block-button {
	margin: 1rem 0 0 0;
}

.wp-block-button__link {
	border-radius: 0px;
	width: 16rem;
	height: 2.5rem;
	background-color: $primart-color-dark;
	border: solid 2px $primart-color-light;
	font-size: 1rem;
	padding: .5rem 0 0 0;

	&:hover {
		background-color: $primart-color-light;
	}
}