$color__background-body: #373F48;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #4a3232;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ffffff; 
$color__link-visited: #ffffff; 
$color__link-hover: #e7e7e7;
$color__text-main: #f9f9f9;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$primart-color-dark: #373F48;
$primart-color-light: #CB9D81;